body{
    background:linear-gradient(74deg,pink 49%,cyan);
    height:100vh;
}
.controller{
    width:30%;
    margin:80px auto;
    
}
fieldset{
    border:none;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
legend{
    margin:auto;
    font-weight: 600;
    color:brown;
}
.container{
    border:5px solid black;
    width:80%;
    margin:auto;
    height:70vh;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    text-align: center;
}


