*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
footer {
    left:0;
    background-color: black;
    height: 30px;            
    width: 100%;     
    color: wheat;    
    text-align: center;     
    font-size: 25px;
    position: fixed;         
    bottom: 0;               
    font-family:SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;;
}
a{
    color:pink;
    text-decoration: none;
}
a:hover{
    font-size:26px;
    color:rgb(158, 117, 124)
}