body{
    background-color: rgb(63, 58, 58);
}
.wasp{
    background-image: url(wasp.png);
    height: 100px;
    width:100px;
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    position:absolute;
    top:500px;
    left:500px;
    border-radius: 50%;
}
.floor{
    position: absolute;
    background-color: green;
    bottom:30px;
    height:200px;
    width:100%;
}