*{
    box-sizing: border-box;
}
.sticky-container {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Stick at the top of the viewport */
    z-index: 10; /* Make sure it stays on top of other elements when scrolling */
    
}

body{
    padding:0;
    margin:0;
    background-color: rgb(38, 38, 58);
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
}
.grey-box{
    background-color: rgb(102, 89, 124);
    width:75%;
    padding: 10px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.about{
    width:40%;
    padding:20px;
    text-wrap: wrap;
    border-radius: 50px;
    height:150px;
    text-align: center;
    background-color: white;
    margin:20px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:rgb(102, 89, 124);
    color:white;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 1px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px); /* Slide up when appearing */
}
.about.visible {
    opacity: 1;
    transform: translateY(0); /* Reset the slide when fully visible */
}
a{
   text-decoration: none;
   font-weight: 999;
   color:rgb(236, 232, 232);
   padding:5px;
   width:150px;
   height:150px;
   font-size: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   border:1px solid wheat;
   border-radius: 20px;
   overflow: hidden;
}

a:visited{
    color:rgb(236, 236, 231);
}
a:hover{
    background-color: rgb(70, 61, 85);;
}
.easy{
    background: linear-gradient(130deg, rgb(68, 221, 68), rgb(12, 78, 69));
    
    
}
.easy:hover{
    border:2px solid rgb(86, 121, 122);
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
.medium{
    background: linear-gradient(130deg, rgba(229, 233, 2, 0.658), rgb(158, 142, 49));
}
.medium:hover{
    border:2px solid rgb(201, 89, 235);
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
.hard {
    background: linear-gradient(130deg, red, rgb(43, 9, 9));
}
.hard:hover{
    border:2px solid burlywood;
    box-shadow: 2px 2px 5px 2px rgb(151, 30, 30);
}
h1{
    color:wheat;
    background-color:rgb(102, 89, 124); 
    width:60%;
    margin:0 auto;
}
@media(max-width:800px){
    h1{
        font-size:15px;
    }
}
@media(max-width:700px){
    h1{
        font-size:13px;
    }
}
@media(max-width:600px){
    h1{
        font-size:13px;
    }
}
span{
    margin-right: 30px;;
    color:#fff
}

#hw:hover {
    background-image: url('Assets/1.png');
    background-size: 120%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138); 
}
#tcb:hover{
    background-image: url('Assets/2.png');
    background-size: 140%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138); 
}
#rbc:hover{
    background-image: url('Assets/3.png');
    background-size: 135%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
#dc:hover{
    background-image: url('Assets/4.png');
    background-size: 140%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
#counter:hover{
    background-image: url('Assets/5.png');
    background-size: 140%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
#dice:hover{
    background-image: url('Assets/6.png');
    background-size: 160%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
#calc:hover{
    background-image: url('Assets/7.png');
    background-size: 140%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
#grade:hover{
    background-image: url('Assets/8.png');
    background-size: 160%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
#rpg:hover{
    background-image: url('Assets/9.png');
    background-size: 160%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
#fstep:hover{
    background-image: url('Assets/10.png');
    background-size: 160%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
#rps:hover{
    background-image: url('Assets/11.png');
    background-size: 160%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
#tic:hover{
    background-image: url('Assets/12.png');
    background-size: 160%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}
#gem:hover{
    background-image: url('Assets/13.png');
    background-size: 160%; 
    background-position: center; 
    color: transparent; 
    border: 2px solid rgb(86, 121, 122); 
    box-shadow: 2px 2px 5px 2px rgb(166, 201, 138);
}